$dark: #1C1C28;
$textHead: #555;
$text: #727272;
$passive: #BDBDBD;

$txt: #666666;
$blue: #2F80ED;
$liteBlue: #EFF5FE;

$bgCard: #fff;
$bgFrame: #F5F6F8;

$elIcon: #C2CFE0;
$elColor: #FAFAFB;

$red: #EB5757;
$liteRed: rgba(235, 87, 87, 0.1);