@import './rootStyles/main.scss';

.company-card {
    border-bottom: 1px solid $bgFrame;
    padding-bottom: 30px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
}
.button-panel--company{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn__companycard{
    width: 200px;
}
