@import './rootStyles/main.scss';
.contacts{
    &__title{
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid $elIcon;
        border-radius: 2px;
    }
    &__textbox{
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $elIcon;
        border-radius: 2px;
    }
    &__boxtitle{
        margin-bottom: 20px;
    }
    &__inner{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item{
        width: 32%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__sup{
        color: $txt;
    }
    &__sub{
        color: $textHead;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
    }
}
@media screen and (max-width: 1200px){
    .contacts{
        &__inner{
            gap: 20px;
        }
        &__item{
            width: 48%;
       }
    }
}
@media screen and (max-width: 475px){
    .contacts{
        &__item{
            width: 100%;
       }
    }
}