@import "./index.scss";

.comp-inner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    &__date{
        margin-bottom: 15px;
        position: absolute;
        top: 30px;
        left: 30px;
    }
    &__title{
        margin-bottom: 10px;
    }
    &__adress{
        margin-bottom: 50px;
    }
    &__left{
        margin-top: 30px;
    }
    &__right{
        img{
            border-radius: 0.25rem;
        }
    }
}
.monitoring{
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 0.25rem 0.25rem 0 0;
    &__section{
        margin-top: 0;
        padding-top: 0;
        border-radius: 0 0 0.25rem 0.25rem;
    }
    &__block{
        width: 100%;
        padding: 30px 0;
        border-bottom: 1px solid $elIcon;
    }
    &__picturebox{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    &__pictureitem{
        width: 49%;
        img{
            margin-bottom: 18px;
        }
    }
    &__text{
        padding-top: 20px;
    }
}
.moni-block{
    &__box{
        display: flex;
        align-items: center;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    &__textbox{
        width: 24%;
    }
    &__text{
        font-weight: 600;
        color: $textHead;
        margin: 0;
        margin-top: 8px;
    }
    &__title{
        margin-bottom: 20px;
    }
    &__imagebox{
        padding: 44px 0;
        border: 1px solid $elIcon;
        margin: 20px 0;
    }
}
.table-container{
    margin-bottom: 30px;
}
.btn__svg{
    display: flex;
    align-items: center;
    gap: 8px;
}
@media screen and(max-width: 1205px){
    .moni-block{
        &__box{
            gap: 20px;
        }
        &__textbox{
            width: 48%;
        }
    }
}
@media screen and (max-width: 835px){
    .comp-inner__title{
        font-size: 30px;
    }
    .comp-inner__adress{
        margin-bottom: 30px;
    }
    .monitoring__pictureitem{
        width: 100%;
    }
}

@media screen and(max-width: 475px){
    .comp-inner{
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .moni-block__title{
        font-size: 20px;
    }
    .comp-inner__title {
        font-size: 24px;
    }
    .comp-inner__adress{
        font-size: 14px;
    }
    .btn__svg{
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
    }
    .monitoring__title{
        font-size: 24px;
    }
    .textM{
        font-size: 14px;
    }
    .comp-inner__right{
        margin-top: 45px;
    }
    .comp-inner__left{
        margin-top: 0px;
    }
    .wrapper{
        margin-top: 110px;
    }
    .table-container{
        width: 100%;
        overflow: hidden;
        overflow-x: scroll;
    }
    th, td{
        min-width: 200px;
    }
}